.blurayCover {
    position: relative;
    width: 150px;
    height: 200px;
    perspective: 1000px;
    margin: 50px;
    float: right;
  }

  .coverImage {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #000;
    transform: rotateY(-10deg) rotateX(-5deg);
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  }

  .titleLabel {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 0 0 5px 0;
    text-align: center;
    width: 100%;
  }