.h1 {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.description p {
  padding-bottom: 10px;
  font-size: 20px;
}


@media only screen and (max-width: 767px) {
  /* styles for screens smaller than 768px, which are typically mobile devices */
  .poster {
    width: 100%;
    height: auto;
  }
}

.back {
  display: block;
  font-size: 25px;
}