.loadingImage {
    background-color: lightgray;
    width: 512px;
    height: 512px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
  /* styles for screens smaller than 768px, which are typically mobile devices */
  .loadingImage {
    width: 100%;
  }
}
