.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.headline {
  font-size: 85px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 767px) {
  /* styles for screens smaller than 768px, which are typically mobile devices */
  .headline {
    font-size: 65px;
  }
}

.main {
  max-width: 800px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  flex: 1;
}

.footer {
  background-color: #000;
  padding: 10px;
  text-align: center;
  position: sticky;
  bottom: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 10px 0;
  box-sizing: border-box;
  flex-wrap: nowrap;
}
.footer > div {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  z-index: 101;
}

.siteName {
  color: #fff;
  font-size: 18px;
  margin: 0 10px;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin: 0 10px;
}

.icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin: 0 10px;
}

@media (max-width: 600px) {
  .siteName,
  .link {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .main {
    margin: 20px;
  }
}

.hr {
  margin-top: 20px;
  margin-bottom: 10px;
}
.back {
  font-size: 25px;
}

.children p {
  margin-bottom: 20px;
  line-height: 22px;
}

.children h1 {
  margin-bottom: 30px;
}
